* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
}

nav {
    background-color: silver;
    border-bottom: 2px solid black;
    padding: 10px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.flex-container {
    display: flex;
}

.box {
    height: 200px;
    margin: 20px;
    border: 2px solid black;
}

.box-1 {
    background-color: yellow;
    width: 30%;
}

.box-2 {
    background-color: orangered;
    width: 70%;
}

.box-3 {
    background-color: greenyellow;
    width: 30%;
    height: 500px;
}

.box-4 {
    background-color: silver;
    width: 40%;
    height: 500px;
}

.box-5 {
    background-color: skyblue;
    width: 30%;
    height: 500px;
}

.box-6 {
    background-color: blue;
    width: 100%;
}